---
const { link, text, target = "_self" } = Astro.props;
---

<a
  href={link}
  target={target}
  class="inline-flex w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-primary dark:bg-primary-dark text-surface dark:text-surface-dark hover:bg-transparent hover:text-primary dark:hover:bg-transparent dark:hover:text-primary-dark border-primary dark:border-primary-dark"
>
  <slot />
  {text}
</a>
