<a
  href="/"
  class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <img
    src="/assets/images/pasmichal-pfp.png"
    alt="Michal Pasierbski"
    class="h-12 w-12 rounded-full"
  />
  <!-- Logo Text -->
  <span class="">Michal&nbsp;Pasierbski</span>
</a>
