---

---

<form
  class="w-full"
  action="/.netlify/functions/newsletter-subscribe"
  method="POST"
>
  <div class="flex gap-x-4">
    <label for="email-address" class="sr-only">Email address</label>
    <input
      id="email-address"
      name="email"
      type="email"
      autocomplete="email"
      required
      class="flex-auto rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
      placeholder="Enter your email"
    />
    <button
      type="submit"
      class="flex-none rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-neutral-100 hover:border-neutral-300 text-neutral-800 hover:text-neutral-600"
      >Subscribe</button
    >
  </div>
</form>
