---
import Layout from "../../layouts/content.astro";
---

<Layout title="Thanks for subscribing!">
  <div class="prose">
    <p>You're a legend! 🤘</p>
    <p>You should receive an email shortly to confirm your subscription.</p>
    <p>If you don't see the email, please check your spam folder.</p>
    <p>
      If you still don't see it, please <a href="mailto:michal@pasierbski.com"
        >contact me</a
      >.
    </p>
    <p>
      In the meantime, you can <a href="/posts">browse my blog</a> or <a
        href="/podcasts">listen to me ramble on about software development</a
      >.
    </p>
  </div>
</Layout>
